<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="/static/view/css/content.css" />
</head>
<body>
<div class="about_us">
	<div class="about_us_content" id="about_us_content" >
		<H1>关于我们</H1>
		<H2>GNOSQL&nbsp;ABOUT&nbsp;US</H2>
		
		<p>GNOSQL的建立目的在于让APP前端开发能不再依赖后端</p>
		<p>The GNOSQL is contributing on making the application development to be independent on the back-end development</p>
		</br>
		<p>GNOSQL与前端即可实现较为简单的APP程序开发</p>
		<p>With GNOSQL and front-end development, simple online application can be programed</p>
		</br>
		<p>对于GNOSQL的使用以及建议可以联系GNOSQL设计团队</p>
		<p>if you have any feedback or suggestions,please contact the gnosql design team</p>
		</br>
		<p>每位GNOSQL的用户都可以终身免费使用GNOSQL</p>
		<p>By the way every gnosql users can use gnosql for free and forever</p>
		</br>
		<p>QQ邮箱：822099441@qq.com</p>
		<p>email address：822099441@qq.com</p>
		</br>
		<p>GERO设计</p>
		<p>MAKED BY GERO</p>
	</div>
</div>
<script src="/static/view/js/jquery-1.7.2.js"></script>
<script src="/static/view/js/media.js"></script>
<script src="/static/view/js/jquery.cookie.js"></script>
<script src="/static/view/js/jquery-tips.js"></script>
<script src="/static/view/js/ajax.js"></script>
<script src="/static/view/js/content.js"></script>
<script src="/static/view/js/holders_vote.js"></script>
<script type="text/javascript">
	$("#about_us_content").animate({opacity:1},1000);
</script>
</body>
</html>